@font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

}

@font-face {
    font-family: 'Shrikhand';
    src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}

.body_style {
    font-family: roboto, sans-serif, Droid Serif;
}

:root {
    font-size: 12px;
}

h1 {
    font-size: 2.50rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.50rem;
}

p {
    font-size: 1.41rem;
}

li {
    font-size: 1.34rem;
}

input {
    font-size: 1.34rem;

}

label {
    font-size: 1.34rem;
}

button {
    font-size: 1.30rem;
}

.list_work {
    font-weight: 700;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    border-radius: 17px;
    box-shadow: 0 5px 10px silver;
    position: relative;
}
li.list_work:nth-child(1)::before {
    content: "1";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}


.body_style {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 400px) 1260px auto;
    grid-template-areas: "header"
                         "working"
                         "restaurant"
                         "footer";
}

.up_page {
    grid-area: header;
    text-align: center;
    background: #F6F6F6;
}

.title_pol {
    font-family: Shrikhand, sans-serif, Droid Serif;
    display: flex;
    justify-content: center;
    background: white;
}

.sch_loc {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background: linear-gradient(to bottom, grey 0%, silver 10%);
    height: 50px;
}

.position_loc {
    position: absolute;
    left: 90px;
}

.city_ppl {
    font-weight: 700;
    background: #EAEAEA;
    border: unset;
    text-align: center;
    width: 80%;
}

.pad_title {
    padding: 45px 45px 0 45px;
}

.btn {
    margin-top: 25px;
    border: unset;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border-radius: 30px;
    height: 50px;
    padding: 0 20px 0 20px;
    box-shadow: 0 5px 10px silver;

}

.how_work {
    grid-area: working;
    padding: 0 20px;
    margin-top: 40px;
}

.icon_position {
    padding: 0 0 0 30px;
    color: gray;
    width: 70px;
}

.working_ul {
    display: grid;
    grid-template-rows: repeat(3, 75px);
    grid-gap: 15px;
}

.list_food {
    grid-area: restaurant;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(4, 250px);
    grid-gap: 20px;
    background: #F6F6F6;
    padding: 20px;
    margin-top: 40px;
}

.title_sec {
    display: flex;
    align-items: end;
}

.card {
    height: 100%;
    background: white;
    border-radius: 20px;
}

.cd_artcl {
    height: 100%;
}


.size_img {
    height: calc(100% - 75px);
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.fig_card {
    position: relative;
    padding: 10px;
}

.i_love {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 2rem;
}

.bot_page {
    grid-area: footer;
    background: #353535;
    color: white;
    padding: 20px;
}

.footer_title {
    font-family: Shrikhand, sans-serif, Droid Serif;
}

.icon_footer {
    font-size: 1rem;
    height: 16px;
    width: 20px;
    margin-right: 5px;
}
