.bot_page {
  grid-area: footer;
  background: #353535;
  color: white;
  padding: 20px;
  z-index: 0;

  .bot_page-title {
    font-family: Shrikhand, sans-serif, Droid Serif;
  }

  .bot_page-icon {
    font-size: 1rem;
    height: 16px;
    width: 20px;
    margin-right: 5px;
  }

  .mailto-color {
    color: white;
    z-index: 100000;
  }
}