
.body_menu-one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px 1100px 200px;
  grid-template-areas: "header"
                       "menu"
                       "footer";
  font-family: roboto, sans-serif, "Arial Black";
}

.up_page {
  position: relative;
  grid-area: header;

.up_page-title {
  position: unset;
}

.up_page-icon {
  position: absolute;
  top: 15px;
  padding: 0 25px;
  left: 0;
  font-size: 1.50rem;
}
.up_page-love {
  position: absolute;
  bottom: 40px;
  font-size: 1.90rem;
  right: 40px;
}

}
.hdmenu_rest {
  font-family: Shrikhand, sans-serif, Droid Serif;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 2.30rem;
}

.menu_list {
  background: #f7f7f7;

.menu_list-gap{
  display: grid;
  grid-gap: 15px;
}
.menu_list-leg {
  height: 35px;
  display: flex;
  align-items: end;
  margin-bottom: 10px;

}

.menu_list-size {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  grid-template-areas: "enter"
                       "flat"
                       "desserts"
                       "send";
  padding: 0 15px 0 10px;
}

.menu_list-send {
  grid-area: send;
  display: flex;
  justify-content: center;
}

.menu_list-choise {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 5px silver;
  height: 65px;
  display: flex;
  position: relative;
animation-name: firstanim;
}
  @keyframes firstanim {
    from{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
    to{opacity: 1;}
  }

  .menu_list-animone{
    animation: firstanim 1s linear 1s forwards;
  }
  .menu_list-animtwo{
    animation: firstanim 2s linear 1s forwards;
  }
.menu_list-animthree{
  animation: firstanim 3s linear 1s forwards;
}
.menu_list-styletxt {
  border-bottom: 3px solid #99E2D0;
}

.menu_list-styletrans {
  border-bottom: 3px solid transparent;
}

.menu_list-info {
  width: 90%;
  position: relative;
  padding: 10px;
}

.menu_list-food {
  font-size: 1.50rem;
  font-weight: 700;
}

.menu_list-p {
  display: block;
  font-size: 1.20rem;
}

.menu_list-radio {
  display: none;
}

.menu_list-price {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-weight: 700;
}

.menu_list-valid {
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  color: #99E2D0;
  font-size: 1rem;

}
.fa-check:before{
  padding: 5px;
  background-color: white;
  border-radius: 20px;
}
}

.up_page-btn-menu {
  width: 190px;
}


