.menu_list-choise:hover {
  .menu_list-valid {
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    color: #99E2D0;
    font-size: 1rem;
    animation: check 500ms linear;

  }
}

@keyframes check {
  from {
    width: 0;
  }
  to {
    width: 20%;

  }

}

.menu_list-animone {
  animation: firstanim 1100ms ease-out forwards;
  animation-delay: 2200ms;
}

.menu_list-animtwo {
  animation: firstanim 1100ms ease-out forwards;
  animation-delay: 2400ms;
}

.menu_list-animthree {
  animation: firstanim 1100ms ease-out forwards;
  animation-delay: 2600ms;
}

@keyframes firstanim {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }

}

.fa-check::before {
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  animation: rotate-check 500ms ease-in;

}

@keyframes rotate-check {
  from {
    transform: rotate(0)
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg)
  }
}