@font-face {
  font-family: 'roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

}

@font-face {
  font-family: 'Shrikhand';
  src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}
:root {
  $primary-color: #F6F6F6;
  $second-color: #FFFFFF;
  $text-color: #000000;
  $bot-color: #353535;
  $icon-color: #9356DC;
  font-size: 12px;
}

li {
  font-size: 1.34rem;
}

label, input {
  font-size: 1.34rem;
}

h1 {
  font-size: 2.50rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.50rem;
}

p {
  font-size: 1.41rem;
}

button {
  font-size: 1.35rem;
}
.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 400px) 1260px auto;
  grid-template-areas: "header"
                         "working"
                         "restaurant"
                         "footer";


  font-family: roboto, sans-serif, Droid Serif;

}