@font-face {
  font-family: 'roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

}

@font-face {
  font-family: 'Shrikhand';
  src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}

:root {

  font-size: 12px;
}

li {
  font-size: 1.34rem;
}

label, input {
  font-size: 1.34rem;
}

h1 {
  font-size: 2.50rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.50rem;
}

p {
  font-size: 1.45rem;
}

button {
  font-size: 1.35rem;
}

legend{
  font-size: 1.20rem;
}
