.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 400px) 1260px auto;
  grid-template-areas:   "header"
                         "working"
                         "restaurant"
                         "footer";


  font-family: roboto, sans-serif, Droid Serif;
  counter-reset: number;

  ul > li {
    counter-increment: number;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 400px) 700px auto;
    grid-template-areas: "header header"
                         "working working"
                         "restaurant restaurant"
                         "footer footer";

  }
  @media (min-width: 1024px) {
    grid-template-rows: repeat(2, 400px) auto auto;
  }
}




