.up_page {
  grid-area: header;
  text-align: center;
  background: #F6F6F6;

  .up_page-title {
    font-family: Shrikhand, sans-serif, Droid Serif;
    background: white;

  }

  .up_page-sd-title {
    padding: 45px 45px 0 45px;
  }

  .up_page-box {
    display: flex;
    justify-content: center;
  }

  .up_page-search {
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, grey 0%, silver 10%);
    height: 50px;
  }

  .up_page-position {
    position: absolute;
    left: 90px;
  }

  .up_page-city {
    font-weight: 700;
    background: silver;
    border: unset;
    text-align: center;
    width: 80%;
  }
}




.hdmenu_up-page{
  grid-area: header;
}