
.how_work {
  grid-area: working;
  margin-top: 40px;
  background: #FFFFFF;
  padding: 0 20px;
  @media (min-width: 768px) {
    padding: 0 30px;
    display: grid;
    margin-top: 0;
  }

  .how_work-title {
    margin-bottom: 25px;
    display: grid;
    justify-content: left;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  .how_work-ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 75px);
    grid-gap: 15px;
    background: #FFFFFF;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 75px;
      grid-gap: 25px;
    }
  }

  .how_work-position {
    padding: 0 0 0 30px;
    color: gray;
    width: 70px;
  }


  .how_work-i {
    color: #9356DC
  }


  .how_work-box {
    display: flex;
    align-items: center;

  }

  .how_work-list {
    font-weight: 700;
    background: #F6F6F6;
    border-radius: 15px;
    box-shadow: 0 5px 10px silver;
    position: relative;

  }

  li.how_work-list:before {
    @include numwork;
    content: counter(number);
  }


  li.how_work-list:hover {
    background: #F5EDFF;
  }

  .how_work-color {
    background: #F5EDFF;
  }
}







