body {
  counter-reset: number;
}

ul > li {
  counter-increment: number;
}

@mixin numwork {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1rem;
  align-items: center;
}


li.how_work-list:before{
  @include numwork;
  content: counter(number);
}


li.how_work-list:hover{
  background: #F5EDFF;
}

@mixin gridmenu{
  display: grid;
  border: none;
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
}
.menu_list-enter{
  grid-area: enter;
  @include gridmenu;
}

.menu_list-flat {
  grid-area: flat;
  @include gridmenu
}

.menu_list-desserts {
  grid-area: desserts;
  @include gridmenu
}

@mixin how_work {
  .how_work {
    grid-area: working;
    margin-top: 40px;
    background: #FFFFFF;

    .how_work-title {
      margin-bottom: 25px;
    }

    .how_work-ul {
      display: grid;
      grid-template-rows: repeat(3, 75px);
      grid-gap: 15px;
      background: #FFFFFF;
    }

    .how_work-position {
      padding: 0 0 0 30px;
      color: gray;
      width: 70px;
    }



      .how_work-i {
        color: #9356DC
      }


    .how_work-box {
      display: flex;
      align-items: center;

    }

    .how_work-list {
      font-weight: 700;
      background: #F6F6F6;
      border-radius: 15px;
      box-shadow: 0 5px 10px silver;
      position: relative;

    }

    .how_work-color {
      background: #F5EDFF;
    }
  }
}


@media(min-width: 1024px) {
  @include how_work;
  .how_work {
    padding: 0 45px;
    display: grid;
    margin-top: 0;

    .how_work-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .how_work-ul {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 75px;
    }
  }
}

@media(max-width: 1024px) {
  @include how_work;
  .how_work {
    padding: 0 45px;
    display: grid;
    margin-top: 0;

    .how_work-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .how_work-ul {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 75px;
    }
  }
}

@media(max-width: 768px) {
  @include how_work;
  .how_work {
    padding: 0 20px;

    .how_work-title {
      display: grid;
      justify-content: left;
    }
  ;

    .how_work-ul {
      grid-template-columns: 1fr;
    }
  }
}

@mixin list-food {
  .list_food-title {
    display: flex;
    align-items: end;
    grid-area: title;
  }

  .list_food-card {
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px silver;
    position: relative;
  }

  .list_food-figure {
    height: 100%;
  }

  .list_food-new::before {
    content: "Nouveau";
    position: absolute;
    background: #99E2D0;
    right: 10px;
    top: 10px;
    min-width: 80px;
    padding: 0 10px;
    color: #008766;
    font-size: 1.15rem;
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px black;
  }

  .list_food-img {
    height: calc(100% - 75px);
    border-radius: 15px 15px 0 0;
    object-fit: cover;

  }

  .list_food-fig {
    position: relative;
    padding: 10px;
  }

  .list_food-love {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 2rem;
  }


  .item_a {
    grid-area: item_a;
  }
  .item_b {
    grid-area: item_b;
  }
  .item_c {
    grid-area: item_c;
  }
  .item_d {
    grid-area: item_d;
  }
}

@media (min-width: 1024px) {
  .list_food {
    grid-area: restaurant;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 70px repeat(2, 250px) 70px;
    grid-template-areas: "title title"
                         "item_a item_c"
                         "item_a item_c"
                         "item_b item_d"
                         "item_b item_d";
    grid-gap: 20px;
    background: #F6F6F6;
    padding: 20px;
  }
  @include list-food;
}

@media (max-width: 1024px) {
  .list_food {
    grid-area: restaurant;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px repeat(3, 250px);
    grid-template-areas: "title title"
                         "item_a item_b"
                         "item_c item_d";
    grid-gap: 20px;
    background: #F6F6F6;
    padding: 20px;
    margin-top: 40px;
  }
  @include list-food;
}

@media (max-width: 768px) {
  .list_food {
    grid-area: restaurant;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(4, 250px);
    grid-template-areas: "title"
                           "item_a"
                           "item_b"
                           "item_c"
                           "item_d";
    grid-gap: 20px;
    background: #F6F6F6;
    padding: 20px;
    margin-top: 40px;
  }
  @include list-food;
}