body {
  counter-reset: number;
}

ul > li {
  counter-increment: number;
}

@mixin numwork {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1rem;
  align-items: center;
}


li.how_work-list:before{
  @include numwork;
  content: counter(number);
}


li.how_work-list:hover{
  background: #F5EDFF;
}

@mixin gridmenu{
  display: grid;
  grid-template-rows: auto repeat(3, 80px);
  border: none;
  margin: 0;
  padding: 0;
  grid-gap: 10px;
}
ul{
  margin: 0;
}
.menu_list-enter{
  grid-area: enter;
  @include gridmenu;
}
.menu_list-flat{
  grid-area: flat;
  @include gridmenu
}
.menu_list-desserts{
  grid-area: desserts;
  @include gridmenu
}
@mixin news {
  position: absolute;
  background: #99E2D0;
  right: 10px;
  top: 10px;
  width: 80px;
  color: #008766;
  font-size: 1.15rem;
  height: 30px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px black;
}
.list_food-new{
  @include news;
}